<div class="form">
    <div class="form-field-name">
        email:
        <input [(ngModel)]="login"/>
    </div>

    <div class="form-field-url">
        password:
        <input [(ngModel)]="password" type="password">
    </div>
    
    <div class = "incorrectLogin">
        @if (!isCorrect) {
            *login or password incorrect
        }
    </div>
    <div class ="noAccount">
        <a href="url" routerLink="/userCreateAccount">Create account</a>
    </div>
    <div class="form-buttons">
        <button class="cancel" (click)="cancel()">Cancel</button>
        <button class="submit" (click)="submit()">Submit</button>
    </div>

<!--
    <div class="form-buttons">
        <button class="cancel" (click)="annuler()">Cancel</button>
        <button class="add" (click)="submit()">
            @if (isEdit) {
                Edit}
            @else{
                Add
            }
        </button>
    </div>
</div>
-->
