<form class="form" #formName="ngForm" (ngSubmit)="formName.valid && submit()">
    <img src="/assets/user.png" width="150px" style="padding-top: 100px;">
    <div class="login-infos">
        <p>Not logged</p>
    </div>
    <h1>User Connection</h1>
    <div class="form-field-name">
        email:
        <input [(ngModel)]="login" name="email" required #email="ngModel"/>
        @if (formName.submitted && email.invalid){
            <div class="is-correct">
                *email is required.
            </div>
        }
    </div>

    <div class="form-field-url">
        password:
        <input [(ngModel)]="password" name="passwordd" type="password" required #passwordd="ngModel">
        @if (formName.submitted && passwordd.invalid){
            <div class="is-correct">
                *password is required.
            </div>
        }
    </div>
    
    <div class ="noAccount">
        <a href="url" routerLink="/userCreateAccount">Create account</a>
    </div>
    <div class="form-buttons">
        <button class="submit" type="submit">Submit</button>
    </div>

<!--
    <div class="form-buttons">
        <button class="cancel" (click)="annuler()">Cancel</button>
        <button class="add" (click)="submit()">
            @if (isEdit) {
                Edit}
            @else{
                Add
            }
        </button>
    </div>
</div>
-->
