@if (book){
    <div class = "container">
        <div class = "book-infos">
            <div class ="title">
                Book: {{ book.name }}
            </div>
            {{ book.description }}
        </div>

        <div class = "buttons">
            <button class = "cancel" routerLink="/">Cancel</button>
<!--            <button class="delete" (click)="deleteThisBook()">Delete book</button>-->
        </div>
        
    </div>
}@else {
    <p>No book</p>
    <button routerLink="/">Retour</button>
}
