<div class="form">
    <div class="form-field-name">
        Name:
        <input [(ngModel)]="newBookName"/>
    </div>

    <div class="form-field-url">
        Image URL:
        <input [(ngModel)]="newUrlImage"/>
    </div>
    <div class="form-field-description">
        Description:
        <textarea [(ngModel)]="newBookDescription"></textarea>
    </div>

    

    <div class="form-buttons">
        <button class="cancel" (click)="annuler()">Cancel</button>
        <button class="add" (click)="submit()">
            @if (isEdit) {
                Edit}
            @else{
                Add
            }
        </button>
    </div>
</div>
